<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	stopOnFailure="true"
	failOnDeprecation="false"
	>
	<testsuites>
		<testsuite name="testing">
			<directory suffix=".php">./tests/phpunit/</directory>
			<exclude>./tests/phpunit/classes/WPMuseumClassesTestSuite.php</exclude>
			<exclude>./tests/phpunit/classes/class-wp-museum-test-case.php</exclude>
			<exclude>./tests/phpunit/classes/verify-tests.php</exclude>
			<exclude>./tests/phpunit/helpers/museum-test-data.php</exclude>
			<exclude>./tests/phpunit/rest/base-rest.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
