@use "./advanced-search/editor.scss" as advanced-search;
@use "./basic-search/editor.scss" as basic-search;
@use "./child-objects/editor.scss" as child-objects;
@use "./collection/editor.scss" as collection;
@use "./embedded-search/editor.scss" as embedded-search;
@use "./object-gallery/editor.scss" as object-gallery;
@use "./object-grid/editor.scss" as object-grid;
@use "./object-image/editor.scss" as object-image;
@use "./object-image-attachments/editor.scss" as object-image-attachments;
@use "./object-infobox/editor.scss" as object-infobox;
@use "./object-meta/editor.scss" as object-meta;

#wpbody {
  .block-editor-writing-flow {
    .wp-block-post-content {
      .wp-block-wp-museum-object-image-attachments-block:focus:after,
      .wp-block-wp-museum-object-meta-block:focus:after {
        outline-style: none;
      }
    }
  }
}
